<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <meta property="og:image" content="{{ "favicon.png" | relative_url }}">
    {%- feed_meta -%}
  
    {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  </head>