@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Lora&display=swap');
// Define defaults for each variable.

$base-font-family: 'Lora', serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$base-heading:     'Alegreya', serif;

$spacing-unit:     30px !default;

$dark-line-height: 3px;
$dark-line:      #111 !default;

$content-bg:       #121212 !default;

$text-color:       #111 !default;
$post-text:        #fff !default;
$background-color: #fff !default;
$brand-color:      #D01110 !default;
$links-color:      #A8BBB0 !default;

$grey-color:       #404040!default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
