/**
 * Site headeraaaaa
 */
 .site-header {
    color: $text-color;
    border-bottom: $dark-line-height solid $dark-line;
    min-height: $spacing-unit * 1.865;
    background: $content-bg;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-family: $base-heading;
  
    @include media-query($on-palm){
    // Positioning context for the mobile navigation icon
    position: relative;
    }

    .site-description {
      color: white;
      margin-top: 20px;
      margin-left: 20px;
    }
  
  }
  
  .site-title {
    @include relative-font-size(2.2);
    font-weight: 300;
    line-height: $base-line-height * $base-font-size * 2.25;
    margin-bottom: 0;
    float: left;

    &-pointer {
      display: inline-block;
      width: 5px;
      height: 1.5rem;
      background: $brand-color;
      margin-left: 5px;
      border-radius: 1px;
      animation: pointer 1s infinite;
    }

  @keyframes pointer{0%{opacity:0}50%{opacity:1}100%{opacity:0}};
 
  }
  
  h1, h2, h3, h4 {
    font-family: $base-heading;
    color: $brand-color;
  }
  
  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      color: $post-text;
      line-height: $base-line-height;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background: $content-bg;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $brand-color;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    padding: $spacing-unit 0;
  
    a:hover {
      color: $brand-color;
      text-decoration: underline;
    }
  
  
  }
  
  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  /**
  Markdown alignments 
  **/

.center {
  text-align: center;
 }

 .right {
  text-align: right;
 }

 .left {
  text-align: left;
 }
  
  /**
   * Page content
   */
  
   .main-top {
     display: flex;
     @include media-query($on-palm) {
       display: block;
     }
  
     .contact {
       padding: $spacing-unit;
     }
   }
  .post {
    flex: 1;
  }
   .media {
     flex: 1;
     padding: $spacing-unit;
   }
  .page-content {
    padding: $spacing-unit;
    flex: 1;
    background: $background-color;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
    &:hover{
      color: $brand-color;

    }
  }
  
  
  
  /**
   * Posts
   */
  .post-header {
    margin-bottom: $spacing-unit;
  }
  
  .post-title {
    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;
  
    @include media-query($on-laptop) {
      @include relative-font-size(2.25);
    }
  }
  
  .post-content {
    margin-bottom: $spacing-unit;

    p {
      color: $text-color;
      font-size: 1.3rem;
      line-height: 2rem;
    }

    a {
      &:hover {
        color: $brand-color;

      }
    }
  
    h2 {
      @include relative-font-size(2);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.75);
      }
    }
  
    h3 {
      @include relative-font-size(1.625);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.375);
      }
    }
  
    h4 {
      @include relative-font-size(1.25);
  
      @include media-query($on-laptop) {
        @include relative-font-size(1.125);
      }
    }
  }
  